body {
  overflow-x: hidden;
  background: rgb(4.4, 0, 22.7);
  color: #ecf0f1;
  margin: 20px;
  padding: 20px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hddr {
  display: inline;
  z-index: 100;
  text-align: center;
  height: 33vh;
  width: 100vw;
}

h1 {
  text-align: center;
  color: #d17777;
}
h3 {
  color: #d17777;
}

#menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-right: 0;



}

#backxyz{
  float: left;
  height: 15vh;
  width: 15vh;
  position: relative;
  z-index: 20;
  min-width: 77px;
  min-height: 77px;
  
}

h4{
  color:#d17777;
}
.menuliobj{
  float:left;
}

li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  background-color: #3b2d75;
  padding: 2vh;
  transition: background-color 0.3s;
  width: 33vw;
}


.brd {
  float: left;
  height: 15vh;
  width: 15vh;
  position: relative;
  z-index: 20;
  stroke-width: 3px;
  transition: transform 0.5s ease-in-out;
  rotate: 14deg;
  cursor: pointer;
  min-width: 77px;
  min-height: 77px;
}




.x {
  stroke: #bb4226;
  stroke-width: 3px;
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}


.brd:hover{
  
  
  transform: rotate(-20deg);
}

/* Show X on hover */
.brd:hover .x {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  
}

.o{
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

/* Show O on hover */
.brd:hover .o {
  opacity: 1;
}

.patterns {
  position: absolute;
  top: 0px;
  scale:1.8;
  left: -10px;
  rotate: 5deg;
  height: 101vh;
  width: 101vw;
  z-index: -2;
  opacity: 0.33;
}

circle {
  fill: rgb(4.4, 0, 22.7);
  stroke: #bee9e8;
  stroke-width: 1;
}

p {
  text-align: justify;
}

.cross {
  z-index: -1;
}

line {
  stroke: #d17777;
  stroke-width: 0.17vw;
}

#back_logo{
  height: 100dvh;
  width: 100dvw;
}

.back-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
  background-color: #3b2d75;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

li a:hover {
  background-color: rgb(17, 6, 75);
}

.tic-tac-toe-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
