body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background: rgb(4.4, 0, 22.7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.patterns {
    position: absolute;
    top: 0px;
    scale:1.8;
    left: -10px;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    opacity: 0.33;
    rotate: -4deg;
  }
  
  circle {
    fill: rgb(4.4, 0, 22.7);
    stroke: #bee9e8;
    stroke-width: 1;
  }
  line {
    stroke: #d17777;
    stroke-width: 0.17vw;
  }
h1{
    color: #d17777;
}
p{
    color: #f0f0f0;
}


#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 1px;
}

.cell {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 100px;
    font-size: 2em;
    display: flex;
    align-items: center;
    
    justify-content: center;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.cell:hover {
    background: rgba(17, 6, 75, 0.5);
}
